.footer {
    @apply px-8;
    @apply pt-10;
    @apply pb-24;
    @apply bg-gray-100;
}

.footer-content {
    @apply mb-4;
    @apply pt-10;
    @apply m-auto;
    @apply border-t;
    @apply max-w-4xl;
}

.footer-col {
    @apply h-auto;
}

.footer-col ~ .footer-col {
    @apply mt-8;
}

.footer-title {
    @apply mb-2;
    @apply font-bold;
}

.footer-svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.footer-svg:hover,
.footer-link:hover {
    @apply text-pink-600;
}

.follow-me {
    @apply flex;
    width: 145px;
    @apply justify-between;
}

/*
bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1
*/
.footer .link-button {
    @apply my-3;
    @apply shadow-md;
    @apply rounded-lg;
    @apply text-white;
    @apply bg-pink-600;
    @apply font-semibold;
    @apply leading-tight;
}

.footer .link-button:hover {
    @apply bg-pink-700;
}

@screen sm {
    .footer-content {
        @apply flex;
    }

    .footer-col  {
        @apply w-1/4;
    }
    
    .footer-col ~ .footer-col {
        @apply mt-0;
    }
}