@{
    ViewBag.Title = "About Chef Laura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{
    @Styles.Render("~/Content/About/css")
}

<div id="banner">
    <div id="chefquote">
        <i class="fa fa-quote-left fa-2x pull-left dblquote"></i>
        <div>
            <div class="quote">A personal chef service is for anyone looking for a few nights off from worrying about what's for dinner.</div>
            <div class="speaker"><i class="fa fa-user"></i> Chef Laura</div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 justify">
            <p>
                Hello! Thank you for taking a few moments to read about me. My name is Laura Knight, and I grew up in a food-industry Italian family in
                the small ethnic town of Windber, PA. I attended Penn State to study business in 1995, with the hope that my area of study could be used
                to propel me in the arena of food.    
            </p>
            <p>
                For several years I worked as an accountant in the Washington DC area, then in December of 2008 I visited Bologna, Italy and learned the
                techniques used in classic pasta making.  During the following January I became a culinary student at
                <a href="http://www.lacademie.com/" target="_blank" class="pink">L'Academie de Cuisine</a> where I learned classic French cooking methods.  
                Once I completed a 6 month restaurant externship program, I graduated from the academy in December of 2009. From the experiences that I 
                gained I realized that I enjoyed being more of a caretaker and providing customer service with more of a personal touch. Therefore in August 
                of 2009 A Knight’s Feast was born.
            </p>
            <p>
                As your personal chef, my goal is to make your life easier by allowing you to come home to prepared meals that you have been craving. Not
                only that, but I also enjoy planning @Html.ActionLink("themed events", "ThemedEvents", "Menus", null, new { @class = "pink" }) with special 
                menus for friends and family gatherings, a romantic cozy evening, or even business functions. You can also count on me for fresh pet and baby 
                foods. You have goals in life where you need time to complete them. Let me help by saving you that time and allowing you to eat the way you 
                prefer as well.
            </p>
            <p>
                Your family chef;<br />
                Chef Laura
            </p>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jquery/effects")
    <script type="text/javascript">
        $(function () { $("#banner").backstretch("@Html.Raw(Url.Content("~/Content/images/bg/") + "peppers.jpg")"); });
    </script>
}