.testimonials .header {
    font-size: 1.4em;
    margin-bottom: 20px;
}

.testimonials .header {
    background-color: rgba(157, 189, 115, .5);
    background-image: resolve("dimension.png");
}

.testimonial {
    position: relative;
}

.testimonial blockquote {
    margin-top: 0;
    line-height: normal;
    padding: 0 30px 1em 50px;
}

.testimonial blockquote * {
    color: currentColor;
}

.testimonial blockquote::before {
    left: 5px;
    top: -10px;
    width: 45px;
    font-size: 4em;
	overflow: hidden;
}