div#MonthYearPicker
{
    margin-top: 15px;
    margin-bottom: 10px;
}

div#MonthYearPicker div.monthpicker
{
    margin-right: 20px;
}

div#DayTabs div.daypicker {
    border: solid 1px White;
    background-color: transparent;
}

div#DayTabs div.daypicker.selected {
    background-color: Red;
}

div#DayTabs div.daypicker + div.daypicker {
    margin-left: 70px;
}

div.inline {
    display: inline;
}