.friends .header {
    @apply p-6;
    @apply mb-20;
    background-repeat: repeat;
    color: rgba(233, 242, 242, 1);
    background-color: rgba(0, 28, 82, 0.7);    
    background-image: resolve("backgrounds/dimension.png");
}

.friends .content {
    @apply px-5;
    @apply flex;
    @apply items-center;
    @apply justify-between;
}

.friends .friend-img {
    @apply w-auto;
    height: 244px;
}

.friends .friend-lnk {
    @apply text-5xl;
}