@keyframes showIn {
    from {
        opacity: 0;
        transform: scale(.9, .9);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.assessment {
    /*@apply flex;*/
    @apply mt-6;
    @apply mb-40;

    @apply px-4;
    @apply py-10;
    @apply w-full;
    @apply mx-auto;
    @apply max-w-6xl;
}

.assessment a {
    @apply cursor-pointer;
}

.assessment .nav {
    @apply z-50;
    @apply fixed;
    @apply h-full;
    @apply w-full;
    @apply inset-0;
    @apply border-b;
    @apply bg-gray-100;
}

.assessment .nav .nav-wrapper {
    /* @apply h-full;
    /* @apply overflow-y-auto;
    /* @apply overflow-hidden;
    /* @apply scrolling-touch;

    /* @apply bg-gray-100; */
    /*top: 97px;*/

    @apply block;
    @apply h-auto;
    @apply sticky;
    @apply relative;
    @apply bg-transparent;
}

.assessment .nav .nav-wrapper .nav-title,
.assessment .nav .nav-wrapper .nav-items {
    @apply pl-2;
    @apply mx-4;
}

.assessment .nav .nav-wrapper .nav-title {
    @apply pb-1;
    @apply border-b;
    @apply font-bold;
    @apply border-pink-600;
}

.assessment .nav .nav-wrapper .nav-items {
    @apply py-2;
}

.assessment .nav .nav-wrapper .nav-items li {
    @apply pl-2;
    @apply border-l;
    @apply border-transparent;
}

.assessment .nav .nav-wrapper .nav-items li:hover,
.assessment .nav .nav-wrapper .nav-items li.active {
    @apply italic;
    @apply font-semibold;
    @apply border-pink-600;
}

.assessment .nav .nav-wrapper .nav-items li.error {
    @apply text-pink-600;
}

.assessment .nav .nav-wrapper .nav-items li ~ li {
    @apply mt-1;
}

.steps {
    @apply p-4;
    @apply bg-gray-100;
}

.steps .buttons {
    @apply flex;
    @apply px-4;
    @apply py-5;
    @apply left-0;
    @apply right-0;
    @apply mx-auto;
    @apply absolute;
    @apply bottom-0;
    @apply max-w-3xl;
    @apply justify-between;
}

.steps .buttons .button {
    @apply px-5;
    @apply py-2;
    @apply w-32;
    @apply bg-white;
    @apply shadow-sm;
    @apply rounded-lg;
    @apply font-medium;
    @apply text-center;
    @apply outline-none;
    @apply text-gray-600;
}

.steps .buttons .button:hover {
    @apply bg-gray-100;
}

.steps .buttons .button.hidden {
    @apply hidden;
}

.steps .buttons .button.color {
    @apply text-white;
    @apply bg-pink-500;
    @apply border-transparent;
}

.steps .buttons .button.color:hover {
    @apply bg-pink-600;
}

.step,
.step .field.conditional {
    @apply hidden;
}

.step.active,
.step .field.conditional.active {
    @apply block;
    animation: showIn 300ms ease-in forwards;
}

.step > div {
    @apply mb-5;
}

.step .field.col,
.step .field.row {
    @apply flex;
    @apply justify-between;
}

.step .field.col {
    @apply flex-col;
}

.step .field.row {
    @apply flex-row;
}

.step .field.col > label {
    @apply pb-3;
}

.step .field span {
    @apply mb-1;
    @apply block;
    @apply font-bold;
    @apply text-gray-700;
}

.step .field select,
.step .field textarea,
.step .field input[type=text],
.step .field input[type=email] {
    @apply px-4;
    @apply py-3;
    @apply w-full;
    @apply shadow-sm;
    @apply rounded-lg;
    @apply font-medium;
    @apply text-gray-600;
}

.step .field textarea,
.step .field input[type=text]:focus,
.step .field input[type=email]:focus {
    @apply outline-none;
    @apply shadow-outline;
}

.step .field .inputlist {
    @apply flex;
    @apply items-center;
    @apply justify-start;
}

.step .field .inputlist-item {
    @apply mr-4;
    @apply pl-4;
    @apply pr-6;
    @apply py-3;
    @apply bg-white;
    @apply shadow-sm;
    @apply rounded-lg;
}

.step .field select.error,
.step .field textarea.error,
.step .field .inputlist-item.error,
.step .field input[type=text].error,
.step .field input[type=email].error {
    @apply bg-pink-200;
}

.step .field textarea.error::placeholder,
.step .field textarea.error:-ms-input-placeholder,
.step .field textarea.error::-ms-input-placeholder,
.step .field input[type=text].error::placeholder,
.step .field input[type=text].error:-ms-input-placeholder,
.step .field input[type=text].error::-ms-input-placeholder,
.step .field input[type=email].error::placeholder,
.step .field input[type=email].error:-ms-input-placeholder,
.step .field input[type=email].error::-ms-input-placeholder {
    @apply text-gray-500;
}

.step .person,
.step .pet {
    @apply flex;
}

.step .person ~ .person,
.step .pet ~ .pet {
    @apply mt-16;
}

.step .person .remove,
.step .pet .remove {
    width: 24px;
    height: 24px;
    @apply shadow;
    @apply bg-white;
    @apply rounded-full;
    @apply text-pink-600;
}

.step .person .remove:hover,
.step .pet .remove:hover {
    @apply text-white;
    @apply bg-pink-600;
}

.assessment .button {
    @apply px-5;
    @apply py-2;
    @apply w-40;
    @apply block;
    @apply border;
    @apply mx-auto;
    @apply bg-white;
    @apply shadow-sm;
    @apply rounded-lg;
    @apply font-medium;
    @apply text-center;
    @apply text-gray-600;
}

.assessment .button:focus {
    @apply outline-none;
}

.assessment .button:hover {
    @apply bg-gray-100;
}

@screen lg {
    .assessment .nav {
        @apply mb-0;
        @apply pt-0;
        @apply w-1/4;
        @apply block;
        @apply static;
        @apply h-auto;
        @apply border-0;
        @apply border-b-0;
        @apply bg-transparent;
        @apply overflow-y-visible;
    }
}