@keyframes showIn {
    from {
        opacity: 0;
        transform: scale(.9, .9);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.assessment {
    @apply flex;
    @apply mt-6;
    @apply mb-40;

    @apply px-4;
    @apply py-10;
    @apply w-full;
    @apply mx-auto;
    @apply max-w-6xl;
}

.assessment a {
    @apply cursor-pointer;
}

.assessment .nav {
    @apply z-90;
    @apply fixed;
    @apply h-full;
    @apply w-full;
    @apply hidden;
    @apply inset-0;
    @apply border-b;
    @apply bg-gray-100;
}

.assessment .nav .nav-wrapper {
    /* @apply h-full;
    /* @apply overflow-y-auto;
    /* @apply overflow-hidden;
    /* @apply scrolling-touch;

    /* @apply bg-gray-100; */
    top: 97px;

    @apply h-auto;
    @apply block;
    @apply relative;
    @apply sticky;
    @apply bg-transparent;
}

.assessment .nav .nav-wrapper .nav-title,
.assessment .nav .nav-wrapper .nav-items {
    @apply pl-2;
    @apply mx-4;
}

.assessment .nav .nav-wrapper .nav-title {
    @apply pb-1;
    @apply font-bold;
    @apply border-pink-600;
    border-bottom-width: 1px;
}

.assessment .nav .nav-wrapper .nav-items {
    @apply py-2;
}

.assessment .nav .nav-wrapper .nav-items li {
    @apply pl-2;
    border-left-width: 1px;
    @apply border-transparent;
}

.assessment .nav .nav-wrapper .nav-items li:hover,
.assessment .nav .nav-wrapper .nav-items li.active {
    @apply italic;
    @apply font-semibold;
    @apply border-pink-600;
}

.assessment .nav .nav-wrapper .nav-items li.invalid {
    @apply text-red-500;
}

.assessment .nav .nav-wrapper .nav-items li ~ li {
    @apply mt-1;
}

.assessment .steps {
    @apply p-4;
    @apply bg-gray-100;
}

.step,
.step .field.conditional {
    @apply hidden;
}

.step.active,
.step .field.conditional.active {
    @apply block;
    animation: showIn 300ms ease-in forwards;
}

.step > div {
    @apply mb-5;
}

.step .field.col,
.step .field.row {
    @apply flex;
    @apply justify-between;
}

.step .field.col {
    @apply flex-col;
}

.step .field.row {
    @apply flex-row;
}

.step .field.col > label {
    @apply pb-3;
}

.step .field span {
    @apply mb-1;
    @apply block;
    @apply font-bold;
    @apply text-gray-700;
}

.step .field input[type=text],
.step .field input[type=email] {
    @apply px-4;
    @apply py-3;
    @apply w-full;
    @apply shadow-sm;
    @apply rounded-lg;
    @apply font-medium;
    @apply text-gray-600;
}

.step .field input[type=text]:focus,
.step .field input[type=email]:focus {
    @apply outline-none;
    @apply shadow-outline;
}

.assessment .button {
    @apply px-5;
    @apply py-2;
    @apply w-40;
    @apply block;
    @apply border;
    @apply mx-auto;
    @apply bg-white;
    @apply shadow-sm;
    @apply rounded-lg;
    @apply font-medium;
    @apply text-center;
    @apply text-gray-600;
}

.assessment .button:focus {
    @apply outline-none;
}

.assessment .button:hover {
    @apply bg-gray-100;
}