@{
    ViewBag.Title = "Friends";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{
    @Styles.Render("~/Content/Friends/css")
}

<div id="banner">
    <div id="chefquote">
        <i class="fa fa-quote-left fa-2x pull-left dblquote"></i>
        <div>
            <div class="quote">A personal chef service is for anyone looking for a few nights off from worrying about what's for dinner.</div>
            <div class="speaker"><i class="fa fa-user"></i> Chef Laura</div>
        </div>
    </div>
</div>

<div class="container">
    <div class="customerquote">
        <div class="customer">
            <div><i class="fa fa-user default"></i> Jeff Welesko - REALTOR®</div>
            <div>
                <table>
                    <tr><td colspan="2">Licensed in Va, Md & DC</td></tr>
                    <tr><td colspan="2">Keller Williams Realty</td></tr>
                </table>
            </div>
        </div>
        <div class="quoteblock">
            <div class="quote justify">
                <table>
                    <tr>
                        <td>Mobile:</td>
                        <td>(703) 408-4680</td>
                    </tr>
                    <tr>
                        <td>Office:</td>
                        <td>(703) 224-6000</td>
                    </tr>
                    <tr>
                        <td>Fax:</td>
                        <td>(703) 890-2465</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>jeffwelesko@kw.com</td>
                    </tr>
                    <tr>
                        <td>Website:</td>
                        <td><a href="http://www.jwreal-estate.com" target="_blank">www.jwreal-estate.com</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="customerquote">
        <div class="customer">
            <div><i class="fa fa-user default"></i> Kelley Cannon</div>
            <div>Event Planning</div>
        </div>
        <div class="quoteblock">
            <div class="quote justify">
                <table>
                    <tr>
                        <td>Phone:</td>
                        <td>(703) 477-5111</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>info@kelleycannonevents.com</td>
                    </tr>
                    <tr>
                        <td>Website:</td>
                        <td><a href="http://www.kelleycannonevents.com/" target="_blank">www.kelleycannonevents.com</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="customerquote">
        <div class="customer">
            <div><i class="fa fa-user default"></i> Jeffrey Tindale</div>
            <div>Financial Consultant</div>
            <div>AXA Advisors, LLC</div>
        </div>
        <div class="quoteblock">
            <div class="quote justify">
                <table>
                    <tr>
                        <td>Address:</td>
                        <td>
                            <div>3141 Fairview Park Drive Suite 250</div>
                            <div>Falls Church, VA 22042</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Mobile:</td>
                        <td>(202) 276-9989</td>
                    </tr>
                    <tr>
                        <td>Office:</td>
                        <td>(703) 205-0331</td>
                    </tr>
                    <tr>
                        <td>Website:</td>
                        <td><a href="http://www.jeffreytindall.com/" target="_blank">www.jeffreytindall.com</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="customerquote">
        <div class="customer">
            <div><i class="fa fa-user default"></i> Cameo Person, LMT</div>
            <div>VIP Mobile Day Spa </div>
        </div>
        <div class="quoteblock">
            <div class="quote justify">
                <table>
                    <tr>
                        <td>Phone:</td>
                        <td>(866) 980-8844</td>
                    </tr>
                    <tr>
                        <td>Website:</td>
                        <td><a href="http://www.vipmobiledayspa.com" target="_blank">www.vipmobiledayspa.com</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="customerquote">
        <div class="customer">
            <div><i class="fa fa-user default"></i> Angela Johnson - Owner/Baker</div>
            <div>Sweet Creations by Angie</div>
        </div>
        <div class="quoteblock">
            <div class="quote justify">
                <table>
                    <tr>
                        <td>Website:</td>
                        <td><a href="http://www.sweetcreationsbyangie.com" target="_blank">www.sweetcreationsbyangie.com</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="customerquote">
        <div class="customer">
            <div><i class="fa fa-user default"></i> Cedric Slye</div>
            <div>
                <table>
                    <tr><td colspan="2">Personal Agent (Md/DC/Va)</td></tr>
                    <tr><td colspan="2">Liberty Mutual Insurance</td></tr>
                    <tr><td>Home/Auto/Life/Annuities</td></tr>
                </table>
            </div>
        </div>
        <div class="quoteblock">
            <div class="dblquote"><i class="fa fa-quote-left fa-2x pull-left dblquote"></i></div>
            <div class="quote justify">
                <div>Please tell your friends, family, and co-workers about my services and I will take awesome care of them!</div>
                <table>
                    <tr>
                        <td>Address:</td>
                        <td>
                            <div>5400 Shawnee Rd., Suite 100</div>
                            <div>Alexandria, Va. 22312</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Mobile:</td>
                        <td>(301) 928-3684</td>
                    </tr>
                    <tr>
                        <td>Office:</td>
                        <td>(703) 256-0173 Ext. 54650</td>
                    </tr>
                    <tr>
                        <td>Fax:</td>
                        <td>(703) 256-0782</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>cedric.slye@libertymutual.com</td>
                    </tr>
                    <tr>
                        <td>Website:</td>
                        <td><a href="http://www.facebook.com/LibertyMutualCedricSlye" target="_blank">www.facebook.com/LibertyMutualCedricSlye</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="customerquote">
        <div class="customer">
            <div><i class="fa fa-user default"></i> Oliver Friendly</div>
            <div>Eat and Smile Foods</div>
        </div>
        <div class="quoteblock">
            <div class="dblquote"><i class="fa fa-quote-left fa-2x pull-left dblquote"></i></div>
            <div class="quote justify">
                <div>Catering for over 40 people</div>
                <table>
                    <tr>
                        <td>Phone:</td>
                        <td>(202) 270-1018</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>ofriendly@eatandsmilefoods.com</td>
                    </tr>
                    <tr>
                        <td>Website:</td>
                        <td><a href="http://www.eatandsmilefoods.com" target="_blank">www.eatandsmilefoods.com</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="customerquote">
        <div class="customer">
            <div><i class="fa fa-user default"></i> Joy Deevy</div>
            <div>Coldwell Banker Realtor</div>
        </div>
        <div class="quoteblock">
            <div class="quote justify">
                <table>
                    <tr>
                        <td>Phone:</td>
                        <td>(703) 930-5198</td>
                    </tr>
                    <tr>
                        <td>Website:</td>
                        <td><a href="http://www.joydeevy.com/" target="_blank">www.joydeevy.com</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="customerquote">
        <div class="customer">
            <div><i class="fa fa-user default"></i> Julie Pandya</div>
            <div>Home Organization and Redesign Specialist</div>
        </div>
        <div class="quoteblock">
            <div class="dblquote"><i class="fa fa-quote-left fa-2x pull-left dblquote"></i></div>
            <div class="quote justify">
                <div>'Like' my <a href="https://www.facebook.com/HomeStrategy" target="_blank">Facebook page</a> for a FREE weekly TIP!</div>
                <table>
                    <tr>
                        <td>Phone:</td>
                        <td>(571) 249-3945</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>julie@home-strategies.com</td>
                    </tr>
                    <tr>
                        <td>Website:</td>
                        <td><a href="http://home-strategies.com/" target="_blank">home-strategies.com</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jquery/effects")
    <script type="text/javascript">
        $(function () { $("#banner").backstretch("@Html.Raw(Url.Content("~/Content/images/bg/") + "tortellinis.jpg")"); });
    </script>
}