
@{
    ViewBag.Title = "Monthly Menus";
}

@section styles
{
    @Styles.Render("~/Content/calendar")
}

@section scripts
{
    @Scripts.Render("~/bundles/calendar")
}

<h2>Monthly Menus</h2>
<div id="root"></div>