@section styles
{
    @Styles.Render("~/Content/home")
}

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('.sidenav-activator').sideNav({
                menuWidth: 300, // Default is 300
                edge: 'right', // Choose the horizontal origin
                closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                draggable: true // Choose whether you can drag to open on touch screens
            });

            $('.dropdown-activator').dropdown({
                inDuration: 300,
                outDuration: 225,
                constrainWidth: false, // Does not change width of dropdown to that of the activator
                hover: true, // Activate on hover
                gutter: 0, // Spacing from edge
                belowOrigin: false, // Displays dropdown below the button
                alignment: 'left', // Displays dropdown with edge aligned to the left of button
                stopPropagation: false // Stops event propagation
            });

            $('.collapsible').collapsible();

            $('.parallax').parallax();

            Materialize.scrollFire([
                { selector: '#question', offset: 80, callback: 'Materialize.showStaggeredList("#question")' }
                , { selector: '#answer', offset: 130, callback: 'Materialize.showStaggeredList("#answer")' }
                //, { selector: '#chefquestion', offset: 140, callback: 'Materialize.showStaggeredList("#chefquestion")' }
            ]);

            var offset = 0.8;
            var $window = $(window);
            var timelineBlocks = $('.cd-timeline-block');

            //hide timeline blocks which are outside the viewport
            hideBlocks(timelineBlocks, offset);

            //on scolling, show/animate timeline blocks when enter the viewport
            $window.on('scroll', function () {
                (!window.requestAnimationFrame)
                    ? setTimeout(function () { showBlocks(timelineBlocks, offset); }, 100)
                    : window.requestAnimationFrame(function () { showBlocks(timelineBlocks, offset); });
            });

            function hideBlocks(blocks, offset) {
                blocks.each(function () {
                    ($(this).offset().top > $window.scrollTop() + $window.height() * offset) && $(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
                });
            }

            function showBlocks(blocks, offset) {
                blocks.each(function () {
                    ($(this).offset().top <= $window.scrollTop() + $window.height() * offset && $(this).find('.cd-timeline-img').hasClass('is-hidden')) && $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
                });
            }
        });
    </script>
}

<div class="cover">
    <div class="container">
        <div class="content section no-pad-bot">
            <div class="coverblock covercontent">
                <div class="row center">
                    <img src="Images/logo.png" />
                </div>
                <div class="row center">
                    <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Let's Get Started!</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="divider"></div>

<!-- Question and Answer Section -->
<div class="container">
    <div class="section question valign-wrapper">
        <div class="row">
            <ul id="question">
                <li>
                    <div>
                        <div class="col s12 m2">
                            <h2 class="top-zero light-green-text text-darken-3">Q?</h2>
                        </div>
                        <div class="col s12 m10 flow-text">
                            Have you and your family become too reliant on carryout meals, mass-produced restaurant food, or boxed dinners
                            with minimal nutritional value? Do you want to eat healthier but lack the time to plan, shop for and cook meals
                            that are good for you?
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="section">
        <div class="row">
            <div class="divider"></div>
        </div>
    </div>
    <div class="section answer valign-wrapper">
        <div class="row">
            <ul id="answer">
                <li>
                    <div class="col s12 m2">
                        <h2 class="top-zero pink-text">A!</h2>
                    </div>
                    <div class="col s12 m10 flow-text">
                        <b class="pink-text">A Knight's Feast Personal Chef Service</b> prepares your choice of meals - made fresh in your own kitchen - and packages
                        them with easy-to-follow heating instructions. We create meals that meet your specific dietary and nutritional needs
                        and appeal to your personal tastes.  <b class="pink-text"><u>What can I do for you?</u></b>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container coverblock teal-text quote">
            <div class="row">
                <h5 class="header col s12 light">
                    <i>
                        "A personal chef service is for anyone looking for a few nights off from worrying
                        about what's for dinner."
                    </i>
                </h5>
            </div>
            <div class="row">
                <h5 class="header col s12 light right-align">
                    Chef Laura
                </h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/Images/bgcands.jpg"></div>
</div>

<!-- How it Works -->
<section class="light-green lighten-4">
    <div class="container white-text">
        <div class="section">
            <div class="row">
                <div class="col s12 center-align">
                    <h3 class="light-green-text text-darken-3">How It Works</h3>
                </div>
            </div>
        </div>
    </div>

    <section id="cd-timeline" class="cd-container green-text text-darken-4">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <i class="material-icons">people</i>
            </div>
            <div class="cd-timeline-content">
                <h2>1. Chat</h2>
                <p>First I meet with you to discuss your dining wants and needs.</p>
                <ul>
                    <li>What are your favorite foods, flavors, and textures?</li>
                    <li>Do you have a family favorite that you just don’t have time to prepare?</li>
                    <li>Do you want to follow a diet plan?</li>
                    <li>Do you have any allergies or foods you don’t like?</li>
                    <li>What international foods do you enjoy?</li>
                </ul>
                <p class="justify highlight normal">
                    You can also complete a <a href="@Url.Action(" ", " Assessment")"><i class="fa fa-edit"></i> Client Assessment Form</a>
                    online so I can come up with a menu for you quicker!
                </p>
            </div>
        </div> <!-- chat -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
                <i class="material-icons">create</i>
            </div>
            <div class="cd-timeline-content">
                <h2>2. Design</h2>
                <p class="justify normal">Your menu is designed and sent to you for approval.</p>
                <p class="justify normal">
                    A list of suggestions will be sent you.  It must be approved within 48 hours of
                    your cook date.  Feel free to make suggestions of what you’re craving!
                </p>
            </div>
        </div> <!-- design -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <i class="material-icons">shopping_cart</i>
            </div>
            <div class="cd-timeline-content">
                <h2>3. Shop</h2>
                <p class="justify normal">Your food is purchased fresh the day of your cook date.</p>
                <p class="justify normal">
                    Chef Laura will shop at the best local grocery stores and local farmers’ markets to
                    ensure your meals are produced from the absolute freshest ingredients.
                </p>
            </div>
        </div> <!-- shop -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
                <i class="material-icons">whatshot</i>
            </div>
            <div class="cd-timeline-content">
                <h2>4. Cook</h2>
                <p class="justify normal">Your food will be prepared fresh by Chef Laura for delivery to your home.</p>
            </div>
        </div> <!-- cook -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <i class="material-icons">kitchen</i>
            </div>
            <div class="cd-timeline-content">
                <h2>5. Pack</h2>
                <p class="justify normal">
                    All meals will be packaged with instructions on how to serve. Your kitchen will be clean of all evidence of
                    your chef being there — all except for the pleasant smell of fresh food.
                </p>
                <p class="justify normal">
                    I want this to be a food delivery service for the whole family where meals can be individually packed,
                    family style, or a mix of the two.
                </p>
            </div>
        </div> <!-- pack -->
    </section>

    <div class="container white-text">
        <div class="section">
            <div class="row flow-text">
                <div class="s12 center"><h2 class="light-green-text text-darken-3">It's that easy!!!</h2></div>
            </div>
        </div>
    </div>
</section>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container coverblock deep-orange-text text-darken-2 quote">
            <div class="row">
                <h5 class="header col s12 light">
                    <i>
                        "One cannot think well, love well, sleep well, if one has not dined well."
                    </i>
                </h5>
            </div>
            <div class="row">
                <h5 class="header col s12 light right-align">
                    Virginia Woolf
                </h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/Images/bgfishstew.jpg"></div>
</div>

<div class="divider"></div>

<!-- Prices -->
<div id="prices" class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3 class="light-green-text text-darken-3">Prices</h3>
            </div>
        </div>
        <div class="row">
            <div class="col s12 flow-text">
                <p>
                    <b>A Knight's Feast Personal Chef Service is now a delivery service!</b> I've secured a kitchen for
                    Mondays and will be making deliveries will be on Tuesdays starting immediately.
                </p>

                <p>
                    The route will start in South Alexandria and go through Northern VA to Potomac, Bethesda and Chevy Chase,
                    down through DC to Capital Hill and back to Old Town via 295 and 495.
                </p>

                <p>
                    I can deliver to your home, small office, yoga or other type of fitness studio if you have refrigeration.
                </p>

                <p>
                    The main menu will be high end Paleo meals with some family favorites that may include dairy and carbs.
                    There will be 10 choices each week, but feel free to make requests.
                </p>

                <p>
                    <b>Individually Packaged:</b>
                    <ul>
                        <li>$200 minimum order for up to 10 meals</li>
                        <li>10 meals could be lunch and dinner for one or five dinners for two</li>
                        <li>Extra meals are $20 each</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>