@{
    ViewBag.Title = "January Special";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-3 justify">
            <div class="leftnav frame">
                <ul class="nav frame">
                    <li><a href="#mvgcp"><span style="font-size:11px">Meat, Vegetables and Good Carbs Package</span></a></li>
                    <li><a href="#vp">Vegan Package</a></li>
                    <li><a href="#ps">Paleo Package</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 justify">
            <div class="infoblock">
                <div class="header">Healthy Stock Up!</div>
                <div>
                    <p>
                        Imagine coming home from a hard workout or work day and not having to worry about what is for dinner.  Every year around this time I
                        get calls from people wanting healthy home made food in their fridge.  They are starting a new plan and know they don't have the time
                        to plan, shop, prep, cook, package and clean up.  Do you relate?  Perhaps a healthy food stock up cook date will help you get started
                        on the right foot!  All items are freezable except the salads.  So you may only need me to come once a week, by-monthly or once a month.
                        Just call, email or text me when you need me to come back!
                    </p>
                    <p>
                        <b>
                            <p>
                            Special!!!  20% Off First Healthy Food Stock up with Purchase of a Beachbody Challenge Pack
                            </p>
                            <p>
                            Includes:  Workout Plan and 30 day Supply of Shakeology, 
                            21 Day Fix, 21 Day Fix Extreme, Cize, Masters Hammer and Chisel, Body
                            Beast, Insanity, P90X3, PIYO and T25
                            </p>
                            <p>
                                <a href="http://teambeachbody.com/shop/-/shopping?referringRepId=651434" target="_blank">Click here for more details!</a>
                            </p>
                            <p>
                                <a href="@Url.Content("~/Content/media/healthy.pdf")" target="_blank">Click here for PDF</a>
                            </p>
                        </b>
                    </p>
                </div>
            </div>
            <div class="infoblock" id="mvgcp">
                <div class="header"><span style="font-size:15px"><b>Meat, Vegetables and Good Carbs Package</b></span></div>
                <div>
                    <ul>
                        <li>8 Grilled or Roasted Chicken Breasts and/or mix with pork chops</li>
                        <li>2 Fish or Shrimp Portions Baked in Parchment</li>
                        <li>4 Cups of Beef and Vegetable Soup, Chili or Beef Tomato Sauce and Spaghetti Squash*</li>
                        <li>2 Cups of Roasted Cubed or Mashed Sweet Potato</li>
                        <li>2 Cups of Quinoa or Brown Rice</li>
                        <li>4 Cups of Assorted Vegetables - Broccoli, Greens, Green Beans, Summer Squash, Asparagus, Cauliflower, Carrots, Onions, Garlic and/or Peppers(Steamed or Sautéed in Olive Oil or Coconut Oil Depending on Preference)</li>
                        <li>4 Cups of Sautéed Greens with Garlic and Chili Pepper (Kale, Chard, Collards or Mustard)*</li>
                        <li>5 Stacked Salads - (3 Cups each) Seeds or Nuts, Peppers, Carrots, Cucumbers, Scallions, Grape Tomatoes Topped with Greens with a Homemade Extra Virgin Olive Oil based Vinaigrette (Can add cheese if you eat dairy)</li>
                        <li>5 Egg and Vegetable Muffin Size Omelets (Can add cheese if you eat dairy)</li>
                        <li>4 Cups of Fruit Salad</li>

                        <li><br /><b>$525 (All but Salads are freezable)</b></li>
                    </ul>
                </div>
            </div>
            <div class="infoblock" id="vp">
                <div class="header"><span style="font-size:15px"><b>Vegan Package</b></span></div>
                <div>
                    <ul>
                        <li>4 Servings Vegan Lasagna:  Layers of Sweet Potato, Silken Tofu in a Vegetable and Tomato Sauce Topped with Crushed Cashews or Lentil Meatloaf with Tomato Sauce or Mushroom Gravy *</li>
                        <li>4 Veggie Burgers, Stuffed Portobello Mushrooms or Stuffed Peppers *</li>
                        <li>4 Cups of 3 Bean Chili or Vegetable Soup</li>
                        <li>4 Cups of Sauteed Greens with Garlic and Chili Pepper (Kale, Chard, Collards or Mustard)</li>
                        <li>4 Cups of Assorted Vegetables - Broccoli, Greens, Green Beans, Summer Squash, Asparagus, Cauliflower, Carrots, Onions, Garlic and/or Peppers (Steamed or Sautéed in Olive Oil or Coconut Oil Depending on Preference)</li>
                        <li>2 Cups of Roasted Cubed or Mashed Sweet Potato</li>
                        <li>2 Cups of Quinoa or Brown Rice</li>
                        <li>5 Stacked Salads (3 Cups each) - Seeds or Nuts, Peppers, Carrots, Cucumbers, Scallions, Grape Tomatoes Topped with Greens with a Homemade Extra Virgin Olive Oil based Vinaigrette or a fat free one)</li>
                        <li>5 Vegan Muffins</li>
                        <li>4 Cups of Fruit Salad</li>

                        <li><br /><b>$475 (All but Salads are freezable)</b></li>
                    </ul>
                </div>
            </div>
            <div class="infoblock" id="ps">
                <div class="header"><span style="font-size:15px"><b>Paleo Package</b></span></div>
                <div>
                    <ul>
                        <li>8 Grilled or Roasted Chicken Breasts and/or mix with pork chops</li>
                        <li>2 Fish or Shrimp Portions Baked in Parchment</li>
                        <li>20 Meatballs or 8 Burgers (Your choice of beef, beef, pork and veal mixture, pork, chicken or turkey)</li>
                        <li>10 Chicken Wings or 8 Chicken Legs</li>
                        <li>4 Cups of Beef and Vegetable Soup or Beef Tomato Sauce and Spaghetti Squash*</li>
                        <li>2 Cups of Roasted Cubed or Mashed Sweet Potato</li>
                        <li>4 Cups of Sautéed Greens with Garlic and Chili Pepper (Kale, Chard, Collards or Mustard)*</li>
                        <li>4 Cups of Assorted Vegetables - Broccoli, Greens, Green Beans, Summer Squash, Asparagus, Cauliflower, Carrots, Onions, Garlic and/or Peppers (Steamed or Sautéed in Olive Oil or Coconut Oil Depending on Preference)</li>
                        <li>5 Stacked Salads (3 Cups each) - Seeds or Nuts, Peppers, Carrots, Cucumbers, Scallions, Grape Tomatoes Topped with Greens with a Homemade Extra Virgin Olive Oil based Vinaigrette</li>
                        <li>Paleo Egg Muffins with Ham, Peppers and Onions</li>

                        <li><br /><b>$550 (All but Salads are freezable)</b></li>
                    </ul>
                </div>
            </div>
            <div class="infoblock">
                <div class="header">&nbsp;</div>
                <p><br /><b>*1 Choice per cook date</b></p>
                <p><b>All pricing includes my service that includes shopping, groceries, food preparation, cooking, and clean up.  If you prefer more steak or seafood add 20% to the cost.</b></p>
            </div>
        </div>
    </div>
</div>