h2 {
    @apply mb-5;
}

/*
* Hero Section
*/
.hero {
    @apply h-full;
    @apply w-full;
    @apply relative;
    @apply overflow-hidden;
}

.hero-content {
    @apply z-10;
    @apply pb-6;
    @apply pt-6;
    @apply px-6;
    @apply h-full;
    @apply w-full;
    @apply mx-auto;
    @apply relative;
    background: url(/img/bgspiration-light.png) center center repeat;
}

.hero-bg {
    @apply h-full;
    @apply w-full;
    @apply absolute;
    background-size: cover;
    background-image: url(/img/bgsquash.jpg);
}

.hero-content h2 {
    @apply leading-10;
    @apply text-center;
    @apply tracking-tight;
    @apply font-extrabold;
}

.hero-content p {
    @apply mt-3;
    @apply mx-auto;
    @apply text-base;
}

@screen sm {
    .hero-content h2 {
        @apply text-6xl;
        @apply leading-none;
    }

    .hero-content p {
        @apply mt-5;
        @apply text-lg;
        @apply max-w-xl;
    }
}

@screen md {   
    .hero-content p {
        @apply mt-5;
        @apply text-xl;
    }
}

@screen lg {
    .hero-content {
        clip-path: polygon(0 0, 100% 0%, 80% 100%, 20% 100%);
    }

    .hero-bg {
        @apply right-0;
        @apply inset-y-0;
    }
}

/*
* Parallax
*/
.parallax,
.foodquote,
.chefquote,
.foodquote .overlay,
.chefquote .overlay {
    @apply h-64;
    @apply w-full;
}

.foodquote .overlay,
.chefquote .overlay {
    z-index: 1;
    @apply absolute;
}

.foodquote .overlay {
    background-color: rgba(233, 242, 242, 0.7);
}

.chefquote .overlay {
    background-color: rgba(0, 28, 82, 0.7);    
}

.foodquote blockquote,
.chefquote blockquote
{
    top: 50%;
    left: 50%;
    z-index: 2;
    @apply absolute;
    @apply text-base;
    line-height: 1.6;
    padding: 1em 30px 1em 65px;
}

.foodquote blockquote::before,
.chefquote blockquote::before
{
    top: -10px;
    left: 10px;
    font-size: 4em;
}

.foodquote blockquote
{
    width: 450px;
    transform: translate(-50%, 60%);
    color: rgba(0, 28, 82, 1);
    border-left-color: rgba(0, 28, 82, 1);
}

.chefquote blockquote
{
    width: 420px;
    transform: translate(-50%, 40%);
    color: rgba(233, 242, 242, 1);
    border-left-color: rgba(233, 242, 242, 1);
}

@screen sm {
    .foodquote blockquote
    {
        transform: translate(-50%, 50%);
    }

    .chefquote blockquote {
        transform: translate(-50%, 30%);
    }
}

@screen md {
    .foodquote blockquote,
    .chefquote blockquote {
        @apply text-lg;
    }

    .foodquote blockquote
    {
        width: 500px;
        transform: translate(-50%, 40%);
    }

    .chefquote blockquote {
        width: 540px;
        transform: translate(-50%, 50%);
    }
}

@screen lg {
    .foodquote blockquote,
    .chefquote blockquote {
        transform: translate(-50%, 40%);
    }
}

@screen xl {
    .foodquote blockquote,
    .chefquote blockquote
    {
        font-size: 1.4em;
    }

    .foodquote blockquote {
        width: 600px;
        transform: translate(-50%, 30%);
    }

    .chefquote blockquote {
        width: 780px;
        transform: translate(-50%, 30%);
    }
}