::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    @apply bg-pink-600;
    border-radius: 3px;
}

body {
    @apply text-gray-800;
    font-family: 'Quicksand', Arial;
}

h2 {
    @apply text-4xl;
    font-family: 'Nunito', Arial;
}

a:hover {
    @apply ease-in-out;
    @apply duration-200;
    @apply transition-colors;
}

blockquote
{
    @apply italic;
    @apply relative;
    @apply border-l-4;
    @apply border-solid;
}

blockquote::before
{
    @apply absolute;
    content: "\201C";
    font-family: Arial;
}

blockquote::after
{
    content: '';
}

blockquote span
{
    @apply block;
    @apply font-bold;
    @apply text-right;
}

.slide-to-top {
    @apply z-50;
    width: 70px;
    height: 70px;
    line-height: 70px;
    @apply cursor-pointer;
    background-image: resolve("slide-to-top.png");
    transition: opacity 1s ease,visibility 1s ease;
}

.slide-to-top > span {
    @apply hidden;
}

/* Necessary for footer to remain at the bottom of the screen */
.app {
    @apply flex;
    @apply flex-col;
    @apply min-h-screen;
}

.main {
    @apply flex;
    @apply flex-1;
    @apply flex-col;
    padding-top: 73px;
}
/* ---------------------------------------------------------- */