/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Custom Stylesheet */
/**
    * Use this file to override Materialize files so you can update
    * the core Materialize files in the future
    *
    * Made By MaterializeCSS.com
    */

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.question, .answer
{
    height: 350px;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

.top-zero {
    margin-top: 0;
}

.top-space {
    margin-top: 5rem;
}

/*
#logo
{
    width: 140.94054px;
    height: 64px;

    background-image: url(../Images/logo.png);
  
    /* Image is centered vertically and horizontally at all times
    background-position: center center;
  
    /* Image doesn't repeat
    background-repeat: no-repeat;
}
*/

#logo-container
{
    margin-top: 5px;
    margin-left: 5px;
}

#question li, #answer li { opacity: 0; }

ul.normal li
{
    list-style-type: disc;
}

p.normal
{
    line-height: normal;
}

/* Responsive Full Background Image Using CSS
 * Tutorial URL: http://sixrevisions.com/css/responsive-background-image/
*/
div.cover {
    /* Location of the image */
    background-image: url(../Images/bgsquash.jpg);
  
    /* Image is centered vertically and horizontally at all times */
    background-position: center center;
  
    /* Image doesn't repeat */
    background-repeat: no-repeat;
  
    /* Makes the image fixed in the viewport so that it doesn't move when 
        the content height is greater than the image height
    background-attachment: fixed; */
  
    /* This is what makes the background image rescale based on its container's size */
    background-size: cover;
  
    /* Pick a solid background color that will be displayed while the background image is loading */
    background-color:#464646;
 
    width: 100%;
    height: 100vh;
    min-height: 600px;
    z-index: -3;
    display: table;
 
  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
}

div.covercontent
{
    margin-top: 20%;
}

div.coverblock, div.quote
{
    background-color: #fff;
    background-color: rgba(255,255,255,0.75);
}

div.coverblock
{
    padding: 10px 0px 10px 0px;
}

div.quote
{
    padding: 15px 10px 2px 15px;
}

#prices p
{
    margin-bottom: 20px;
}

#prices ul li
{
    margin-left: 25px;
    list-style-type: circle;
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
/*     body {
        The file size of this background image is 93% smaller
        * to improve page load speed on mobile internet connections
        background-image: url(images/background-photo-mobile-devices.jpg);
    }
*/
}